---
searchExclude: true
layout: layouts/base.njk
title: Manuscript received
permalink: /submit/thanks/
eleventyExcludeFromCollections: true
---
<header class="pagehead"><div class="wrap">
  <h1>Thank you</h1>
  <p>Your manuscript has been sent to the Editorial Board. We will reply by email once it has been screened.</p>
</div></header>
<section><div class="wrap">
  <p class="btns" style="margin:0"><a class="btn" href="/articles/">Read the journal</a><a class="btn alt" href="/">Back to home</a></p>
</div></section>
